body {
    margin: 0;
    padding-bottom: 50px;
    background-image: url(../images/background.jpeg);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header{
    position: sticky; top: 0;
    background-color: #202020;
    z-index: 1;
}
nav {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    font-family: arial, helvetica, sans-serif;
    background-color: #0E0D13;
}

.logo {
    position: relative; left: 10px;
    width: 55px;
    height: 55px;
    position: absolute;
}

.webname {
    position: relative; left: 70px;
    font-size: 25px;
    color: #F0F0F0;
}

.nav-links{
    padding: 5px 0;
}

.nav-links li{
    display: inline-block;
    padding: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #F0F0F0;
    padding: 3px;
    font-size: 20px;
}

a:hover {
    background-color: #1C1C25;
}

.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative; bottom: 275px;
    font-family: arial, helvetica, sans-serif;
    color: #F0F0F0
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative; top: 200px;
    font-family: arial, helvetica, sans-serif;
}

.card1 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #DDDDDD;
    color: black;
    text-align: center;
    border-radius: 1px;
    margin: 1rem;
    text-decoration: none;
    overflow: hidden;
    border: 4px solid black;
    
}

.card1:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    background-color: #F0F0F0;
}

.card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #DDDDDD;
    color: black;
    text-align: center;
    border-radius: 1px;
    margin: 1rem;
    text-decoration: none;
    overflow: hidden;
    border: 4px solid black;
}

.card2:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    background-color: #F0F0F0;
}

.card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #DDDDDD;
    color: black;
    text-align: center;
    border-radius: 1px;
    margin: 1rem;
    text-decoration: none;
    overflow: hidden;
    border: 4px solid ;
}

.card3:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    background-color: #F0F0F0;
}

.container {
    background-color: black;
    z-index: -2;
    padding: 1.5rem;
}

.content {
    position: relative; top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.section_1 {
    background-color: #F0F0F0;
    gap: 1.5rem;
    justify-content: center;
    max-width: 75rem;
    border-radius: 4px;
}

.body_photo_1 {
    float: left;
    max-width: 300px;
    max-height: 500px;
    shape-outside: circle;
    border: 3px solid black;
    margin: 10px; 
}

.body_header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
}

.body_text {
    padding: 0px 10px;
    font-size: 18px;
    line-height:25px;
}

.section_2 {
    background-color: #F0F0F0;
    gap: 1.5rem;
    justify-content: center;
    max-width: 75rem;
    border-radius: 4px;
}

.body_photo_2 {
    float: right;
    max-width: 300px;
    max-height: 500px;
    border: 3px solid black;
    margin: 10px;
   
}

.section_3 {
    background-color: #F0F0F0;
    gap: 1.5rem;
    justify-content: center;
    max-width: 75rem;
    border-radius: 4px;
}

.body_photo_3 {
    float: left;
    max-width: 300px;
    max-height: 500px;
    border: 3px solid black;
    margin: 10px;
   
}

.section_4 {
    background-color: #F0F0F0;
    gap: 1.5rem;
    justify-content: center;
    max-width: 75rem;
    border-radius: 4px;
}

.body_photo_4 {
    float: right;
    max-width: 300px;
    max-height: 500px;
    border: 3px solid black;
    margin: 10px;
   
}

.calc_container {
    position: relative; top: 200px;
    background-color: black;
    padding: 1.5rem;
}

.calc_title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: relative; bottom: 200px;
    font-family: arial, helvetica, sans-serif;
    color: #F0F0F0
}

.calc_content {
    position: relative; top: -150px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.calc_section_1 {
    background-color: #F0F0F0;
    gap: 1.5rem;
    justify-content: center;
    max-width: 17rem;
    border-radius: 4px;
}

.calc_body_header {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
}

.calc_body_text {
    text-align: center;
    padding: 0px 10px;
    font-size: 18px;
    line-height:25px;
}

select {
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.);
    font-size: 1.5rem;
    padding: 1em 1.5em;
    margin: 1rem 1rem;
    background:#1C1C25;
    color: #F0F0F0;
    border: 0;
}

.device_num_select {
    display: flex;
    justify-content: center;
}

.calc_section_4 {
    background-color: #F0F0F0;
    gap: 1.5rem;
    justify-content: center;
    min-width: 36rem;
    max-width: 72rem;
    border-radius: 4px;
}

#display { 
    font-size: 23px;
    text-align: center;
    height: 70px;
    margin: 15px;
    padding-left: 15px;
    padding-right:15px;
    border-radius: 4px;
}

button {
    border-radius: 4px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.);
    font-size: 1.5rem;
    padding: 1em 1.5em;
    margin: 1rem 1rem;
    background:#1C1C25;
    color: #F0F0F0;
    border: 0;
}

button:active {
    background:#3A3A43;
}

.calc_btn {
    display: flex;
    justify-content: center;
}
